@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	height: 150px;
	position: fixed;
	overflow: hidden;
}
.header_search a{
	text-decoration: none;
	color:#000;
}
.menu_bar a{
	text-decoration: none;
	color:#000;
}
.header_wrap{
	width: 100%;
	height : 90px;
	margin: 40px auto;
}

.header_logo{
	width : 200px;
	height : 80px;
	float: left;
}
.header_logo>div{
	margin-top: 5px;
	margin-left: 30px;
}

.header_submenu{
	width: 300px;
	height: 100px;
	float: right;
	margin-right: 30px;
	margin-bottom: 30px;
}
.header_submenu li{
	float: right;
	list-style: none;
	margin-left: 10px;
	font-size: 13px;
}

.header_submenu li a{
	font-size: 13px;
	text-decoration: none;
	color:#000;
}

.header_search{
	font-size: 11px;
}
.header_search input{
	margin-top: 20px;
	border:none;
	border-right:0px; 
	border-top:0px; 
	boder-left:0px; 
	boder-bottom:0px;
}
.header_search fieldset{
	float: right;
	border-width: 1px;
	width: 220px;
	height: 45px;
	border: 0 none;
	border-bottom: 1px solid #000;
}
/**************************************************/
.blank{
	width: 100%;
	height : 110px;
}
/**************************************************/
.contents_wrap{
	width:100%;
	height: 800px;
	clear: both;
	float: left;
}
.menu_bar{
	width: 200px;
	height: 800px;
	float: left;
	margin-left: 30px;
	margin-top: 30px;
	position: fixed;
	overflow: hidden;
}
.sub_menu li{
	margin-bottom: 6px;
	list-style: none;
	font-size: 11px;
}
.bold_bar li{
	margin-bottom: 15px;
	list-style: none;
	color:#000;
}
.commu_bar li{
	margin-top: 10px;
	list-style: none;
	font-size: 11px;
	color: #747474;
}
.daily_bar li{
	margin-bottom: 3px;
	list-style: none;
	font-size: 11px;
}
.menu_bar li.big_font{
	font-size: 13px;
	font-weight: bold;
}
/*************************************************************/
.qna{
	margin: 20px auto;
	width: 1146px;
	height: 1100px;
}
.qna h1{
	color: #777;
	margin-bottom: 20px;
}
.btn_li a{
	text-decoration:none;
	width: 224.19px;
	height: 64px;
	color: #000;
}
.btn li{
	text-decoration:none;
	list-style: none;
	float: left;
	width: 224.19px;
	height: 64px;
	background: #f5f5f5;
	font-size: 11px;
	color: #000;
	line-height:60px;
	border: 1px solid #f5f5f5;
	text-align: center;
	margin-right: 3px;
	margin-bottom: 3px;
}
.btn_li .vip{
	background: #feb1b1;
}
.table{
	margin-top: 100px;
}
.part2{
	margin-top: 200px;
}
.table table{
	margin-top:50px;
	margin-bottom:20px;
	border-top: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
	border-collapse: collapse;
	font-size: 12px;
	text-align: center;
}
.table a{
	text-decoration: none;
	color: #777;
}
.no{
	width: 100px;
	height: 60px;
}
.content{
	width: 720px;
}
.name{
	width: 120px;
}
.date{
	width: 120px;
}
.hits{
	width: 80px;
}
.notice{
	color: #777;
	font-weight: bold;
	height: 32px;
}
.center{
	height: 32px;
	color: #777;
	text-align: center;
	font-weight: normal;
}
.conten{
	color: #777;
	height: 32px;
	text-align: left;
	font-weight: normal;
}
.table th,td{
	border-top: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
}

.write{
	text-align: right;
	margin-bottom: 20px;
}
.write input{
	color: #333;
    padding: 10px 15px 10px 15px;
    background-color: #F2F2F2;
    font-size: 12px;
    border: none;
}
.search{
	text-align: right;
	font-size: 12px;
	color: #000;
}
.search span{
	margin-right: 10px;
}
.paging{
	margin-top:80px;
	color: #999;
	text-align: center;
	font-size: 12px;
}
.paging a{
	color: #999;
	text-decoration: none;
}
.paging a:hover{
	color: #d63448;
}
/*************************************************************/
footer{
	width: 100%;
	height: 300px;
	font-size: 11px;
}
.footer_wrap{
	margin:1200px auto;
	width: 1050px;
	height: 500px;
	margin-bottom: 30px;
}
.sccenter{
	width:150px;
	height: 190px;
	float: left;
	margin-right: 60px;
}
.banking{
	width:120px;
	height: 190px;
	float: left;
	margin-right: 60px;
}
.address{
	width:300px;
	height: 190px;
	float: left;
	margin-right: 35px;
}
.flagship{
	width:300px;
	height: 190px;
	float: left;
	text-align: right;
}
.footer_wrap2{
	width: 800px;
	float: left;
	margin-top: 2px;
}
.footer_wrap_space {
	margin-top: 20px;
} 
.footer_wrap2 li{
	margin-right:30px;
	float: left;
	list-style: none;
	font-size: 11px;
}
#number{
	font-size: 26px; 
}